/* Main Content */
:root {
    --orange-california: #F89406;

    --grey-pumidice: #D2D7D3;
    --grey-lynch-shadow: #262B32;

    --green-shamrock: #2ECC71;
    --green-jade: #00B16A;
}

body {
    background-color: #eceff0;
}

body,
input {
    font: 1em "Open Sans", sans-serif;
    color: #363639;
}

ul a {
    text-decoration: none;
    border-bottom: 1px dashed #363639;
}

.conteudo {
    background-color: #fff;
    margin: 20px auto;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, .1);
    box-sizing: border-box;
}

.conteudo .header {
    font-family: "Shadows Into Light Two", cursive;
    margin: 0 0 10px 0;
}

.text-california {
    color: var(--orange-california);
}

/* Tarefas */
.lista-items {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.lista-items li,
.cadastro-form .input,
.cadastro-categoria .input {
    border: 0;
    border-bottom: 1px dashed #ccc;
    padding: 15px 0;
}

.lista-items .item.completa {
    text-decoration: line-through;
}

.input:focus {
    outline: none;
}

/* Button Completa */
.button-completa {
    display: inline;
    font-size: .8em;
    background-color: var(--grey-pumidice); 
    color: var(--grey-lynch-shadow);
    padding: 3px 6px;
    border: 0;
    opacity: 0.4;
}

.button-completa:hover {
    opacity: 1;
    color: #fff;
    background-color: var(--green-shamrock); 
}

/* Form Adicionar Tarefas */
.tarefa-adicionar {
    padding: 30px;
}

.header-cadastro-form {
    font-family: "Shadows Into Light Two", cursive;
    margin: 25px;
}

.descricao-area {
    font: 1em "Open Sans", sans-serif;
    margin-top: 15px;
    border: 1px dashed #ccc;
}

.link-categoria {
    display: inline-block;
    margin: 15px;
    margin-left: 45px;
}

.text-decoration {
    font: 1em "Open Sans", sans-serif;
    color: #363639;
}

/* Submit button */
.submit {
    background-color: #fff;
    padding: 5px 10px;
    border: 1px solid #ddd;
    width: 100%;
    margin-top: 10px;
    box-shadow: 3px 3px 0 #ddd;
}

.submit:hover {
    background-color: var(--green-shamrock);
    box-shadow: 3px 3px 0 var(--green-jade);
}