<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Shadows+Into+Light+Two">

<link rel="stylesheet" href="../css/main.css">
<link rel="stylesheet" href="../css/cadastro_categoria.css">

<div class="conteudo">
    <h1 class="header">Cadastro de Categoria</h1>
    <form class="cadastro-categoria" action="cadastrar_categoria.php" method="post">
        <input type="text" name="nome" class="input" placeholder="Categoria"><br />
        <input type="submit" value="Cadastrar" class="submit">
    </form>
</div>